# Server
PORT=3001
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL=postgresql://postgres:password@localhost:5432/gym_cemerlang

# JWT
JWT_SECRET=gym_cemerlang_super_secret_jwt_key_2026_change_this_in_production

# Frontend URL (untuk CORS)
FRONTEND_URL=http://localhost:5173
